<!-- Load Mapbox from CDN -->
{{ '//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js' | script_tag }}
{{ '//api.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.js' | script_tag }}
{{ '//api.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.css' | stylesheet_tag }}
{{ '//api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js' | script_tag }}
{{ '//api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' | stylesheet_tag }}
<!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
{{ '//cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js' | script_tag }}
{{ '//cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js' | script_tag }}

<div class="product-custom-switcher-box">
  <div class="product-custom-switcher">
    <div class="custom-switcher-btn coords-btn active-switcher">
      <labels>Engrave Coordinates</labels>
    </div>
    <div class="custom-switcher-btn text-btn">
      <labels>Engrave Text</labels>
    </div>
  </div>
  <div class="custom-switcher-content-wrapper">
    <div class="custom-switcher-content engrave-text-cont" style="display: none;">
      <div class="engrave-text-switch-cont"></div>
      <p class="input-sub">English, Spanish, Chinese, Japanese, Greek &amp; Russian characters can be engraved + keyboard symbols such as [ ,.-&amp;*’^¨?="#!€$%/()+&lt;&gt;♡ etc.] - No emojis. (max 22 characters)</p>
    </div>
    <div class="custom-switcher-content coordinates-variant">
      <div class="maps-input-group special-input">
        <label>Lookup your Location</label>
        <div id="search">
          <div id="geocoder"></div>
          <button id="findLocationBtn" type="button" onclick="findLocation()">FIND</button>
        </div>
        <p id="noResult" style="color: red;"></p>
        <table id="addressTable"></table>
      </div>
      <p class="maps-input-label" for="latitude">Your Coordinates</p>
      <div class="maps-input-group special-group-display">
        <div class="input-container-switch">
          <div class="line-item-property__field maps-latitude">
            <input id="latitude" maxlength="14" type="text" name="properties[Latitude]" value="10.3833° S">
          </div>
          <div class="line-item-property__field maps-longitude">
            <input id="longtitude" maxlength="14" type="text" name="properties[Longitude]" value="55.4000° E">
          </div>
        </div>
        <label class="dmstoggle">
          <input id="dmstoggler" type="checkbox">
          <span class="dmsslider">
            Change Format
          </span>
        </label>
      </div>
      <div class="clear"></div>
      <div class="special-group-hide">
        <div id="map" class="mapboxgl-map" style="pointer-events: none;"></div> 
        <label class="toggle">
          <input id="map-lock-input" type="checkbox">
          <span class="slider">
            Click to
            <span data-text="lock">lock</span>
            <span data-text="unlock">Unlock</span>
            Map
          </span>
        </label> 
        <p style="text-align: center; font-size: 10px;">Are you trying to find the coordinates off a location that doesn't have an address? Move the map and tap to drop the pin anywhere.</p>  
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    localStorage.setItem("cuffCoordinatesLongitude", '55.4000° E');
    localStorage.setItem("cuffCoordinatesLatitude", '10.3833° S');
    $( ".coords-btn" ).click(function() {
      $('.engrave-text-switch-cont').hide();
      $('.engrave-text-cont').hide();
      $('.special-group-hide').show();
      $('.special-input').show();
      $('.maps-input-label').show();
      $('.special-group-display').show();
      $( ".text-btn").removeClass("active-switcher");
      $( ".coords-btn").addClass("active-switcher");
      if ( $('.input-container-switch').children().length == 0 ) {
        $('.input-container-switch').append('<div class="line-item-property__field maps-latitude"><input id="latitude" maxlength="14" type="text" name="properties[Latitude]" value="' + localStorage.getItem("cuffCoordinatesLatitude") + '"></div><div class="line-item-property__field maps-longitude"><input id="longtitude" maxlength="14" type="text" name="properties[Longitude]" value="' + localStorage.getItem("cuffCoordinatesLongitude") + '"></div>');
        $('.text-engrave').remove();
      }
    });
    $( ".text-btn" ).click(function() {
      $('.engrave-text-cont').show();
      $('.engrave-text-switch-cont').show();
      $('.maps-latitude, .maps-longitude').remove();
      $( ".text-btn").addClass("active-switcher");
      $( ".coords-btn").removeClass("active-switcher");
      if ( $('.engrave-text-switch-cont').children().length == 0 ) {
        $('.engrave-text-switch-cont').append('<div class="line-item-property__field text-engrave"><label for="text-engrave">Engrave Text</label><input id="text-engrave" maxlength="22" type="text" name="properties[Text]" placeholder="Insert your text"></div>');
        $('.special-input').hide();
        $('.maps-input-label').hide();
        $('.special-group-display').hide();
        $('.special-group-hide').hide();
      }
    });
  });

  mapboxgl.accessToken = '{{settings.mapbox_api}}';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/light-v10', //mapbox://styles/customcuff/ck6j63f0e10w11inyc4c8za4k
    center: [55.4000, 10.3833],
    zoom: 13
  });
  const geolocate = new mapboxgl.GeolocateControl({
    positionOptions: {
      enableHighAccuracy: true
    },
    trackUserLocation: true
  });
  map.addControl(geolocate);
  map.on('load', function() {
    $("#map").css("pointer-events", "none");
    geocoder.query('{{settings.geocoder_pass}}');
  });
  geolocate.on('geolocate', function() {
    //Get the updated user location, this returns a javascript object.
    var userlocation = geolocate._lastKnownPosition;
    var lat = userlocation.coords.latitude;
    var lng = userlocation.coords.longitude;
    console.log('on geolocate', lat, lng)
    updateCoordinateInputs(lat, lng)
  });
  function findLocation() {
    document.querySelector('.mapboxgl-ctrl-geocoder--input').id = 'mapbox-search';
    document.querySelector('.suggestions').id = 'suggestionsBox';
    geocoder.query(document.getElementById("mapbox-search").value);
    document.getElementById("suggestionsBox").style.display = 'none';
  }
  var checkbox = document.getElementById("map-lock-input");
  checkbox.addEventListener('change', function() {
    if (this.checked) {
      $("#map").css("pointer-events", "auto");
    } else {
      $("#map").css("pointer-events", "none");
    }
  });
  var geocoder = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    mode: 'mapbox.places-permanent', // does not provide POI data
    mapboxgl: mapboxgl,
    placeholder: '{{settings.geocoder_placeholder}}'
  });
  geocoder.on('result', function(ev) {
    var latString = ev.result.geometry.coordinates[1];
    var lngString = ev.result.geometry.coordinates[0];
    $('.mapboxgl-ctrl-geocoder--input').blur();
    var lat = JSON.stringify(latString);
    var lng = JSON.stringify(lngString);
    console.log('on geocode result', lat, lng)
    updateCoordinateInputs(lat, lng)
    if (lat == '10.3833' && lng == '55.4000' ) {
      $(".mapboxgl-ctrl-geocoder--input").attr('placeholder', '{{settings.geocoder_placeholder}}');
    } else {
      $(".mapboxgl-ctrl-geocoder--input").attr('placeholder', 'Your special place');
    }
  });
  $( window ).on( "load", function() {
    $('.mapboxgl-ctrl-geocoder--input').val('');
  });
  map.on('click', function(e) {
    var lat = JSON.stringify(e.lngLat.lat);
    var lng = JSON.stringify(e.lngLat.lng);
    console.log('on map click', lat, lng)
    if (geocoder.mapMarker) {
      geocoder.mapMarker.setLngLat(e.lngLat);
      updateCoordinateInputs(lat, lng)
    } else {
      var marker = new mapboxgl.Marker()
      .setLngLat(e.lngLat)
      .addTo(map);
      geocoder.mapMarker = marker
      updateCoordinateInputs(lat, lng)
    }
  });
  function _convertDDToDMS(coordinate) {
    var absolute = Math.abs(coordinate);
    var degrees = Math.floor(absolute);
    var minutesNotTruncated = (absolute - degrees) * 60;
    var minutes = Math.floor(minutesNotTruncated);
    var seconds = Math.round((minutesNotTruncated - minutes) * 60 * 100) / 100;
    if (coordinate < 0) degrees *= -1;
    return degrees + "°" + minutes + "'" + seconds.toFixed(2);
  }
  function convertDDToDMS(lat, lng) {
    lat = Number(String(lat).replace(/° \w/, ""))
    lng = Number(String(lng).replace(/° \w/, ""))
    var latitude = _convertDDToDMS(lat);
    var latitudeCardinal = lat > 0 ? "''N" : "''S";
    var longitude = _convertDDToDMS(lng);
    var longitudeCardinal = lng > 0 ? "''E" : "''W";
    return {
      latitude: latitude + latitudeCardinal,
      longtitude: longitude + longitudeCardinal
    }
  }
  function _convertDMSToDD(degrees, minutes, seconds, direction) {
    let dd = Number(degrees) + Number(minutes) / 60 + Number(seconds) / 3600;
    if (direction == "S" || direction == "W") {
      dd = dd * -1;
    } // Don't do anything for N or E
    return dd.toFixed(4) + "° " + (direction);
  }
  function convertDMSToDD(lat, lng) {
    let latParts = lat.match(/(\d+)°(\d+)'(\d+\.?\d*)''(\w)/)
    let longParts = lng.match(/(\d+)°(\d+)'(\d+\.?\d*)''(\w)/)
    let latitude = _convertDMSToDD(latParts[1], latParts[2], latParts[3], latParts[4])
    let longtitude = _convertDMSToDD(longParts[1], longParts[2], longParts[3], longParts[4])
    return {
      latitude: latitude,
      longtitude: longtitude
    }
  }
  function updateCoordinateInputs(lat, lng) {
    if (lat > 0) {
      lat = parseFloat(lat).toFixed(4) + "° N";
    } else {
      lat = parseFloat(lat).toFixed(4) + "° S";
    }
    if (lng > 0) {
      lng = parseFloat(lng).toFixed(4) + "° E";
    } else {
      lng = parseFloat(lng).toFixed(4) + "° W";
    }
    localStorage.setItem("cuffCoordinatesLongitude", lng);
    localStorage.setItem("cuffCoordinatesLatitude", lat);
    if ($("#dmstoggler").is(":checked")) {
      let dms = convertDDToDMS(lat, lng)
      lat = dms.latitude
      lng = dms.longtitude
    }
    document.getElementById('latitude').value = lat;
    document.getElementById('longtitude').value = lng;
  }
  function localStorageGetLng() {
    let lng = localStorage.getItem("cuffCoordinatesLongitude");
    if ($("#dmstoggler").is(":checked")) {
      lng = convertDDToDMS(0, lng).longtitude
    }
    return lng
  }
  function localStorageGetLat() {
    let lat = localStorage.getItem("cuffCoordinatesLatitude");
    if ($("#dmstoggler").is(":checked")) {
      lat = convertDDToDMS(lat, 0).latitude
    }
    return lat
  }
  $("#dmstoggler").on('change', function(eventInfo) {
    let longInput = document.getElementById("longtitude")
    let latInput = document.getElementById("latitude")
    if (eventInfo.target.checked) {
      // convert to DMS
      let dms = convertDDToDMS(latInput.value, longInput.value)
      latInput.value = dms.latitude;
      longInput.value = dms.longtitude;
      localStorage.setItem("cuffCoordinatesLongitude", dms.longtitude);
      localStorage.setItem("cuffCoordinatesLatitude", dms.latitude);
    } else {
      // convert back to decimal degrees
      let dd = convertDMSToDD(latInput.value, longInput.value)
      latInput.value = dd.latitude
      longInput.value = dd.longtitude
      localStorage.setItem("cuffCoordinatesLongitude", dd.longtitude);
      localStorage.setItem("cuffCoordinatesLatitude", dd.latitude);
    }
    $("#dmstoggler_state").html(eventInfo.target.checked ? "DMS" : "Decimal degrees")
  })
  map.addControl(new mapboxgl.NavigationControl());
  document.getElementById('geocoder').appendChild(geocoder.onAdd(map));
</script>

<style type="text/css">
  html, body { width:100%;padding:0;margin:0; }
  .container { width:95%;max-width:980px;padding:1% 2%;margin:0 auto }
  #lat, #lon { text-align:right }
  input.mapboxgl-ctrl-geocoder--input {
    margin: 0;
    border: none !important;
    height: 40px;
    /*font-size: 10px;*/
    line-height: 20px !important;
  }
  .mapboxgl-ctrl-geocoder--icon-close {
    margin-top: 0;
  }
  .mapboxgl-ctrl-geocoder--suggestion {
    line-height: normal;
    text-align: left;
  }
  .mapboxgl-ctrl-geocoder--button {
    background: transparent !Important;
    width: 30px !Important;
    top: 0 !important;
    height: 40px !Important;
    line-height: 22px !Important;
  }
  .mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
    display: none;
  }
  #map {
    width: 100%;
    height: 250px;
    border-radius: 5px;
    overflow:hidden;
  }
  #geocoder-container > div {
    min-width: 50%;
    margin-left: 25%;
  }
  div#search {
    display: flex;
    max-width: 650px;
  }
  div#geocoder {
    width: 80%;
    z-index: 1000;
  }
  @media screen and (min-width: 640px){
    .mapboxgl-ctrl-geocoder--icon-close {
      margin-top: 0px !important;
    }
  }
  #search button {
    background: black;
    width: 20%;
    margin-bottom: 0;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  input#addressInput {
    width: 80%;
    margin-bottom: 0;
    font-size: 10px !important;
    -webkit-appearance: none;
    text-transform: unset;
    line-height: 20px;
  }
  header.coverheader {
    z-index: 9999;
  }
  .maps-input-group label, .maps-input-label {
    display: block;
    line-height: 2.5;
    /*font-family: "Brandon Medium" !important;*/
    font-size: 12px;
    font-weight: bold;
    color: #6c6c6c;
    margin-bottom: 0;
    text-align: left;
    text-transform: uppercase;
  }
  input#latitude {}

  .maps-input-group {
    display: flex;
  }
  .line-item-property__field.maps-latitude {
    width: calc(50% - 2.5px);
    margin-right: 5px;
  }
  .line-item-property__field.maps-longitude {
    width: calc(50% - 2.5px);
  }
  .maps-latitude input, .maps-longitude input {
    width: 100%;
    border: 2px solid #000000;
    height: 46px;
    line-height: 46px;
    padding: 0;
    margin: 0px;
    max-width: 100%;
    text-indent: 17px;
    outline: none;
    font-size: 16px;
    color: black !important;
  }
  .maps-latitude input::placeholder, .maps-longitude input::placeholder {
    color: black; 
  }
  .maps-input-group.special-input {
    display: block;
  }
  .mapbox-solution {
    width: 650px;
    margin: 0 auto;
    margin-top: 50px;
  }
  .mapboxgl-ctrl-top-right {    top: -125px;
    left: 0px !important;
    right: unset;
    box-sizing: border-box;}

  .mapboxgl-ctrl-top-right input {
    border-radius: 0 !important;
  }
  .mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
    border-radius: 0;
    box-shadow: unset;
    border: 2px solid #000000;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
  }
  svg.mapboxgl-ctrl-geocoder--icon.mapboxgl-ctrl-geocoder--icon-search {
    display: none;
  }
  .mapboxgl-ctrl-geocoder--input {
    line-height: 40px !important;
    height: 46px;
  }
  .mapboxgl-ctrl-geocoder--suggestion {
    line-height: normal;
  }
  .mapboxgl-ctrl-top-right {
    top: unset;
    left: 10px !important;
  }
  .mapboxgl-ctrl-group button {margin: 0 !important;}
  #shopify-section-product-custom-cuff-template .bcpo-buttons .single-option-selector {
    margin-bottom: 0 !important;
  }

  #shopify-section-product-custom-cuff-template .bcpo-buttons .bcpo-front-button-option:checked + .bcpo-front-button-label {
    background: #e3e3e3;
    color: black;
    font-weight: 500;
    border: 1px solid #e3e3e3;
    border-radius: 0;
    margin-right: 0;
  }
  #shopify-section-product-custom-cuff-template .bcpo-buttons label.bcpo-front-button-label, #shopify-section-product-custom-cuff-template .bcpo-buttons #bcpo button.bcpo-front-button-label {
    border-radius: 0;
    border: 1px solid #e3e3e3;
    margin: 0 !important;
  }
  .custom-switcher-btn.active-switcher {
    background: #000000 !important;
    color: #fff;
  }
  .custom-switcher-btn {
    text-align: center;
    font-size: 14px;
    text-transform: capitalize;
    float: left;
    padding: 10px 25px;
    border: 2px solid #efefef;
    border-bottom: 0;
    position: relative;
    background: white;
  }
  .custom-switcher-btn.active-switcher label {
    color: black;
    font-weight: 700;
  }
  .product-custom-switcher {
    margin: 0 auto;
    display: inline-block;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
  }
  .custom-switcher-content-wrapper {
    border: 2px solid #000000;
    padding: 20px;
    /*position: relative;*/
    z-index: 100;
    margin-bottom: 20px;
  }
  .special-group-hide {
    margin-top: 20px;
    display: inline-block;
    width: 100%;
  }
  @media screen and (max-width: 600px) {
    .custom-switcher-btn {
      text-align: center;
      font-size: 12px;
      text-transform: uppercase;
      float: left;
      padding: 8px;
      border: 1px solid #e3e3e3;
      position: relative;
      background: white;
    }
    .custom-switcher-content-wrapper {
      border: 0px solid #e3e3e3;
      padding: 0px;
      position: relative;
      z-index: 100;
    }
    .product-custom-switcher {
      width: auto;
      margin-bottom: 20px;
    }
    .product-page {
      margin-top: 0 !important;
    }
    .maps-latitude input, .maps-longitude input {
      text-indent: 10px;
      font-size: 12px;
    }
  }
  @media screen and (max-width: 375px) {
    .custom-switcher-btn {
      font-size: 11px;
    }
  }
  .input-container-switch {
    display: flex;
    width: 100%;
  }
  .engrave-text-cont label {
    display: block;
    line-height: 2.5;
    /*font-family: "Brandon Medium";*/
    font-size: 12px;
    font-weight: bold;
    color: #6c6c6c;
    margin-bottom: 0;
    text-align: left;
    text-transform: uppercase;
  }
  #text-engrave {
    -webkit-appearance: none;
    text-transform: unset;
    line-height: 20px;
    /*font-size: 10px;*/
    font-weight: 300;
    width: 100%;
  }
  #text-engrave::placeholder {
    color: #777;
  }
  /* Hide default input */
  .toggle input {
    display: none;
  }
  .dmstoggle input {
    display: none;
  }
  /* The container and background */
  .toggle {
    position: relative;
    display: block;
    width: 150px;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .dmstoggle {
    position: relative;
    display: block;
    width: auto;
    height: 42px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    border-radius: 21px;
    transition: all 0.4s;
    text-align: center;
    width: 100%;
    display: block;
    color: white;
    font-weight: 700;
    font-size: 12px;
    padding: 7px 37px;
    line-height: 13px;
    /*font-family: "Brandon Medium" !important;*/
  }
  .dmsslider {
    display: block;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #EFEFEF;
    transition: all 0.4s;
    text-align: center;
    width: 64px;
    color: black;
    font-weight: 700;
    font-size: 10px;
    padding: 10px;
    line-height: 13px;
    /*font-family: "Brandon Medium" !important;*/
  }

  /* The sliding button */
  .slider:before {
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    left: 5px;
    top: 5px;
    background-color: white;
    border-radius: 50%;
    transition: all 0.4s;
  }
  /* On checked */
  input:checked + .slider {
    background-color: #09b50f;
  }
  input:checked + .dmsslider {
    background-color: #000;
    color: white;
  }
  input:checked + .slider:before {
    transform: translateX(108px);
  }
  .toggle .slider span[data-text="lock"] {
    display: none;
  }
  .toggle #map-lock-input:checked+.slider span[data-text="lock"] {
    display: inline;
  }
  .toggle #map-lock-input:checked+.slider span[data-text="unlock"] {
    display: none;
  }
  .toggle .slider span[data-text="lock"], .toggle .slider span[data-text="unlock"] {
    /*font-family: "Brandon Medium" !Important;*/
    font-weight: unset;
  }
  .coords-btn, .text-btn {
    background: #efefef !important;
  }
  .coords-btn {
    margin-right: 10px !important;
  }
  .text-btn {
    margin-left: 10px !important;
  }
  .active-switcher {
    font-weight: bold;
    border: 2px solid black !important;
  }
  p.input-sub {
    text-align: center;
    font-size: 12px;
  }
  input#text-engrave {
    margin-bottom: 10px;
  }
</style>
